.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  align-items: flex-start;
  font-size: 25px;
  font-weight: bold;
  color: rgb(213, 230, 62);
}

.fighter-preview___left {
  align-items: flex-start;
  font-size: 25px;
  font-weight: bold;
  color:rgb(150, 150, 150);
}
